:root {
  --accent-color: #6347eb;
  --black-color: #000;
  --white-color: #fff;
}

body {
  font-family: "Istok Web", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3;
  color: var(--black-color);
  background-color: var(--white-color);
  text-align: center;
  overflow-x: hidden;
}

body.active {
  overflow-y: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 100px 0;
}

.section-odd {
  background-color: transparent;
  color: var(--accent-color);
}

.section-even {
  position: relative;
  background: linear-gradient(94deg, #c89afc 9.51%, #7c6afa 90.23%);
  color: var(--white-color);
  /* background: linear-gradient(to right, #fc72ff, #8f68ff, #487bff, #8f68ff, #fc72ff); */
  /* background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 2.5s linear infinite; */
}

@keyframes animate-gradient {
  to {
    background-position: 200%;
  }
}

/* .section-odd .title,
.section-odd .text,
.about__elem,
.cooperation__title,
.cooperation__text,
.contacts__label-text,
.contacts__title,
.contacts__link {
  background: linear-gradient(
    to right,
    #fc72ff,
    #8f68ff,
    #487bff,
    #8f68ff,
    #fc72ff
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 10s linear infinite;
} */

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 25px;
  transform: translate(0, 120px);
  opacity: 0;
}

.title.active {
  transform: translate(0, 0);
  opacity: 1;
  transition: transform 1s ease, opacity 1s ease 0.5s;
}

.text {
  font-size: 28px;
  max-width: 992px;
  margin: 0 auto 50px;
  transform: translate(0, 120px);
  opacity: 0;
}

.text.active {
  transform: translate(0, 0);
  opacity: 1;
  transition: transform 1s ease, opacity 1s ease 1s;
}

.link {
  padding: 5px 0 3px;
  border-radius: 5px;
  position: relative;
  transition: box-shadow 0.5s ease, text-shadow 0.5s ease;
}

.link::before {
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: var(--black-color);
  transition: width 0.8s ease;
}

.link:active {
  text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
  box-shadow: none;
}

.contacts__link.link::before {
  background: linear-gradient(94deg, #c89afc 9.51%, #7c6afa 90.23%);
}

.footer-nav__link.link::before,
.footer-nav__item-link.link::before {
  background-color: var(--white-color);
}

.btn {
  font-weight: 500;
  line-height: 1;
  transition: box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease,
    transform 0.5s ease, text-shadow 0.5s ease;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 55;
  box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s ease, box-shadow 0.1s ease,
    transform 0.5s ease;
}

.header.active {
  background-color: var(--white-color);
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}

.header.hide {
  transform: translateY(-100%);
}

.header.active .menu {
  padding: 30px 0;
}

.menu {
  display: flex;
  align-items: center;
  gap: 35px;
  padding: 45px 0 45px 0;
  transition: padding 0.5s ease;
}

.header .logo {
  z-index: 55;
  display: flex;
  align-items: center;
}

.logo {
  border-radius: 5px;
  position: relative;
  transition: box-shadow 0.5s ease, opacity 0.5s ease;
}

.logo__icon {
  position: absolute;
  left: 5px;
  top: 0px;
  animation: rotate-logo 5s linear infinite;
}

.logo:active {
  opacity: 0.5;
  box-shadow: none;
}

.menu__list {
  display: flex;
  gap: 35px;
}

.hamburglar {
  transform: scale(1);
  position: relative;
  margin-left: auto;
  display: block;
  width: 68px;
  height: 68px;
  -webkit-touch-callout: none;
  user-select: none;
  z-index: 55;
  display: none;
}

.path-burger {
  position: absolute;
  top: 0;
  left: 0;
  height: 68px;
  width: 68px;
  mask: url(#mask);
}

.animate-path {
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 68px;
}

.path-rotation {
  height: 34px;
  width: 34px;
  margin: 34px 34px 0 0;
  transform: rotate(0deg);
  transform-origin: 100% 0;
}

.path-rotation:before {
  content: "";
  display: block;
  width: 30px;
  height: 34px;
  margin: 0 4px 0 0;
  background: var(--accent-color);
}

@keyframes rotate-out {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-in {
  0% {
    transform: rotate(360deg);
  }
  40% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.hamburglar.is-open .path {
  animation: dash-in 0.6s linear normal;
  animation-fill-mode: forwards;
}

.hamburglar.is-open .animate-path {
  animation: rotate-in 0.6s linear normal;
  animation-fill-mode: forwards;
}

.hamburglar.is-closed .path {
  animation: dash-out 0.6s linear normal;
  animation-fill-mode: forwards;
}

.hamburglar.is-closed .animate-path {
  animation: rotate-out 0.6s linear normal;
  animation-fill-mode: forwards;
}

.path {
  stroke-dasharray: 240;
  stroke-dashoffset: 240;
  stroke-linejoin: round;
}

@keyframes dash-in {
  0% {
    stroke-dashoffset: 240;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-out {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 240;
  }
}

.burger-icon {
  position: absolute;
  padding: 20px 16px;
  height: 68px;
  width: 68px;
}

.burger-container {
  position: relative;
  height: 28px;
  width: 36px;
}

.burger-bun-top,
.burger-bun-bot,
.burger-filling {
  position: absolute;
  display: block;
  height: 4px;
  width: 36px;
  border-radius: 2px;
  background-color: var(--accent-color);
  transition: background-color 0.5s ease;
}

.hamburglar.is-open .burger-container span {
  background-color: var(--white-color);
}

.burger-bun-top {
  top: 0;
  transform-origin: 34px 2px;
}

.burger-bun-bot {
  bottom: 0;
  transform-origin: 34px 2px;
}

.burger-filling {
  top: 12px;
}

.burger-ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 68px;
}

.svg-ring {
  width: 68px;
  height: 68px;
}

.svg-ring path {
  transition: stroke 0.5s ease;
}

.hamburglar.is-open .svg-ring path {
  stroke: var(--white-color);
}

.hamburglar.is-open .burger-bun-top {
  animation: bun-top-out 0.6s linear normal;
  animation-fill-mode: forwards;
}

.hamburglar.is-open .burger-bun-bot {
  animation: bun-bot-out 0.6s linear normal;
  animation-fill-mode: forwards;
}

.hamburglar.is-closed .burger-bun-top {
  animation: bun-top-in 0.6s linear normal;
  animation-fill-mode: forwards;
}

.hamburglar.is-closed .burger-bun-bot {
  animation: bun-bot-in 0.6s linear normal;
  animation-fill-mode: forwards;
}

@keyframes bun-top-out {
  0% {
    left: 0;
    top: 0;
    transform: rotate(0deg);
  }
  20% {
    left: 0;
    top: 0;
    transform: rotate(15deg);
  }
  80% {
    left: -5px;
    top: 0;
    transform: rotate(-60deg);
  }
  100% {
    left: -5px;
    top: 1px;
    transform: rotate(-45deg);
  }
}

@keyframes bun-bot-out {
  0% {
    left: 0;
    transform: rotate(0deg);
  }
  20% {
    left: 0;
    transform: rotate(-15deg);
  }
  80% {
    left: -5px;
    transform: rotate(60deg);
  }
  100% {
    left: -5px;
    transform: rotate(45deg);
  }
}

@keyframes bun-top-in {
  0% {
    left: -5px;
    bot: 0;
    transform: rotate(-45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    transform: rotate(-60deg);
  }
  80% {
    left: 0;
    bot: 0;
    transform: rotate(15deg);
  }
  100% {
    left: 0;
    bot: 1px;
    transform: rotate(0deg);
  }
}

@keyframes bun-bot-in {
  0% {
    left: -5px;
    transform: rotate(45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    transform: rotate(60deg);
  }
  80% {
    left: 0;
    bot: 0;
    transform: rotate(-15deg);
  }
  100% {
    left: 0;
    transform: rotate(0deg);
  }
}

.hamburglar.is-open .burger-filling {
  animation: burger-fill-out 0.6s linear normal;
  animation-fill-mode: forwards;
}

.hamburglar.is-closed .burger-filling {
  animation: burger-fill-in 0.6s linear normal;
  animation-fill-mode: forwards;
}

@keyframes burger-fill-in {
  0% {
    width: 0;
    left: 36px;
  }
  40% {
    width: 0;
    left: 40px;
  }
  80% {
    width: 36px;
    left: -6px;
  }
  100% {
    width: 36px;
    left: 0px;
  }
}

@keyframes burger-fill-out {
  0% {
    width: 36px;
    left: 0px;
  }
  20% {
    width: 42px;
    left: -6px;
  }

  40% {
    width: 0;
    left: 40px;
  }

  100% {
    width: 0;
    left: 36px;
  }
}

.menu-burger {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--black-color);
  min-height: 100vh;
  width: 0;
  border-radius: 50%;
  z-index: 10;
  transform: translateZ(0);
  will-change: transform, background-position, opacity;
  background: linear-gradient(
    to right,
    #bb72ff,
    #8f68ff,
    #7048ff,
    #8f68ff,
    #bb72ff
  );
  background-size: 400%;
  animation: bg 8s linear infinite;
  padding: 120px 0;
  transition: width 0.5s ease, min-height 0.5s ease, opacity 1s ease,
    border-radius 0.5s ease;
  opacity: 0;
}

@keyframes bg {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 400% 50%;
  }
}

.menu-burger__inner {
  overflow-y: auto;
  padding-bottom: 50px;
  height: calc(100vh - 120px);
}

.menu-burger.open {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100vh;
  border-radius: 0;
}

.menu-burger__list {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  min-height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

.menu-burger__list.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin: 0;
  opacity: 1;
}

.menu-burger__item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 100%;
  opacity: 0;
  animation-name: fadein;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.menu-burger__item:nth-child(1) {
  animation-delay: 0.2s;
}
.menu-burger__item:nth-child(2) {
  animation-delay: 0.3s;
}
.menu-burger__item:nth-child(3) {
  animation-delay: 0.4s;
}
.menu-burger__item:nth-child(4) {
  animation-delay: 0.5s;
}
.menu-burger__item:nth-child(5) {
  animation-delay: 0.6s;
}
.menu-burger__item:nth-child(6) {
  animation-delay: 0.7s;
}
.menu-burger__item:not(:last-child) {
  margin-bottom: 32px;
}
.menu-burger__link {
  font-size: 28px;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: var(--white-color);
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(24px);
  }
  100% {
    opacity: 1;
  }
}

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero__content {
  padding-top: 140px;
  padding-bottom: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.hero__box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo path {
  transition: fill 0.5s ease;
}

.logo.active path {
  fill: #fff;
}

.hero__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__title {
  /* transform: translate(0px, 50px);
  opacity: 0; */
  transition: transform 0.8s ease, opacity 0.8s ease 0s;
}

.hero__title {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 70px;
  max-width: 1167px;
  position: relative;
  transform: translate(0, 100px);
  opacity: 0;
}

.hero__title.active {
  transform: translate(0, 0);
  opacity: 1;
}

.hero__text {
  font-size: 36px;
  margin-bottom: 138px;
  transform: translate(0px, 50px);
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease 0s;
}

.hero__text.active {
  transform: translate(0, 0);
  opacity: 1;
  transition: transform 1s ease, opacity 1s ease 0.5s;
}

.hero__link {
  font-size: 28px;
  max-width: 350px;
  width: 100%;
  text-align: center;
  padding: 20px 30px;
  border-radius: 20px;
  color: var(--white-color);
  background-color: var(--accent-color);
  transform: scale(0);
}

.hero__link.active {
  transform: scale(1);
  transition: transform 1s 1s;
}

.about__text {
  font-size: 32px;
  max-width: 1167px;
  margin: 0 auto 100px;
}

.about__items,
.about__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.about__items {
  margin-bottom: 50px;
}

.about__item {
  padding: 25px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 360px;
  text-align: left;
  color: var(--white-color);
  /* transform: scale(0); */
  transition: transform 0.8s ease;
}

/* .about__item.active:first-child {
  transform: scale(1);
  transition: transform 0.8s ease 1s;
} */
/* .about__item.active:nth-child(2) {
  transform: scale(1);
  transition: transform 0.8s ease 2s;
} */
/* .about__item.active:last-child {
  transform: scale(1);
  transition: transform 0.8s ease 3s;
} */

.about__item:first-child {
  transform: scale(0);
}

.about__item.active:first-child {
  transform: scale(1);
  transition: transform 0.5s ease 1.5s;
}
.about__item:nth-child(2) {
  transform: scale(0);
}

.about__item.active:nth-child(2) {
  transform: scale(1);
  transition: transform 0.5s ease 2s;
}
.about__item:last-child {
  transform: scale(0);
}

.about__item.active:last-child {
  transform: scale(1);
  transition: transform 0.5s ease 2.5s;
}

.about__title {
  font-size: 24px;
  margin-bottom: 25px;
}

.about__descr {
  font-size: 20px;
}

.about__elem {
  padding-top: 160px;
  position: relative;
}

.about__elem::before {
  content: "";
  position: absolute;
  display: block;
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.about__elem.about__elem--clients::before {
  background-image: url("../images/icons/users.svg");
}

.about__elem.about__elem--code::before {
  background-image: url("../images/icons/code.svg");
}
.about__elem.about__elem--projects::before {
  background-image: url("../images/icons/projects.svg");
}

.about__num {
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 15px;
}

.about__name {
  font-size: 32px;
  font-weight: 400;
}

.projects__text {
  font-size: 32px;
  max-width: 1166px;
  margin: 0 auto 100px;
}

.projects__link img {
  object-fit: contain;
}

.projects__btn {
  width: 50px !important;
  height: 50px !important;
}

.projects__prev-arrow::after {
  transform: scale(-1, 1);
}

.projects__btn::after {
  font-size: 0 !important;
  width: 50px !important;
  height: 50px !important;
  background-image: url("../images/icons/next-arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title.cooperation__name {
  margin-bottom: 50px;
}

.cooperation__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  counter-reset: item;
  gap: 100px 0;
}

.cooperation__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cooperation__decor {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.cooperation__item--consultation {
  margin-right: 170px;
}

.cooperation__item--consultation .cooperation__decor {
  left: 175px;
}

.cooperation__item--design .cooperation__decor {
  left: 200px;
}

.cooperation__item--design {
  margin-right: 150px;
}

.cooperation__item--testing {
  order: 1;
}

.cooperation__item--support {
  margin-right: 330px;
}

.cooperation__item--development .cooperation__decor {
  top: 75px;
  transform: none;
  left: 150px;
}

.cooperation__item--support .cooperation__decor {
  left: 275px;
}

.cooperation__title {
  font-size: 32px;
  font-weight: 700;
  position: relative;
}

.cooperation__item .cooperation__title::before {
  color: var(--accent-color);
  font-size: 32px;
  font-weight: 700;
  content: counter(item) ".";
  counter-increment: item;
  position: absolute;
  z-index: -1;
  top: 0;
  left: -35px;
}

.cooperation__text {
  font-size: 24px;
  font-weight: 700;
  display: block;
  padding-top: 100px;
  position: relative;
}

.cooperation__text::before {
  content: "";
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.cooperation__text--consultation::before {
  background-image: url("../images/icons/consultation.svg");
}

.cooperation__text--design::before {
  background-image: url("../images/icons/design.svg");
}

.cooperation__text--development::before {
  background-image: url("../images/icons/development.svg");
}

.cooperation__text--testing::before {
  background-image: url("../images/icons/testing.svg");
}

.cooperation__text--support::before {
  background-image: url("../images/icons/support.svg");
}

.section.team {
  overflow-x: hidden;
}

.team__text {
  font-size: 32px;
  max-width: 1166px;
  margin: 0 auto 100px;
}

.swiper.team__swiper {
  width: 100%;
  max-width: 500px;
}

.swiper-wrapper.team__swiper-wrapper {
  width: 100%;
}

.swiper-slide.team__swiper-slide {
  width: 100%;
  border-radius: 20px;
  background-color: var(--white-color);
  color: var(--accent-color);
}

.team__img {
  width: 100%;
  object-fit: cover;
  max-width: 100%;
  object-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 15px;
}

.team__name {
  font-size: 28px;
  font-weight: 700;
  display: block;
}

.team__descr {
  display: block;
  font-size: 24px;
  margin-bottom: 15px;
}

.swiper-pagination.team__swiper-pagination {
  bottom: -50px !important;
  top: auto !important;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background-color: var(--white-color) !important;
}

.contacts__text {
  max-width: 1166px;
  font-size: 32px;
  margin-bottom: 100px;
}

.contacts__inner {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.contacts__form {
  max-width: 630px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contacts__list {
  margin: 0;
  counter-reset: item;
}

.contacts__item {
  margin-bottom: 25px;
  position: relative;
  text-align: left;
  padding-left: 142px;
}

.contacts__item::before {
  width: 72px;
  height: 72px;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  content: counter(item);
  counter-increment: item;
  position: absolute;
  z-index: -1;
  top: 34px;
  left: 0;
  background-color: var(--accent-color);
}

.contacts__item:not(:first-child)::after {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  height: 70px;
  width: 2px;
  top: -30px;
  left: 35px;
  background-color: var(--accent-color);
}

.contacts__label-text {
  display: block;
  font-size: 24px;
  margin-bottom: 5px;
}

.contacts__input,
.contacts__textarea {
  border-radius: 20px;
  padding: 15px 18px;
  /* background: linear-gradient(to right, #fc72ff, #8f68ff, #487bff, #8f68ff, #fc72ff); */

  background-color: var(--white-color);
  border: 2px solid #8f68ff;
  max-width: 485px;
  width: 100%;
  color: rgb(150, 161, 168, 1);
}

.contacts__input::placeholder,
.contacts__textarea::placeholder {
  color: rgb(150, 161, 168, 1);
  transition: color 0.5s ease;
}

.contacts__input::-webkit-outer-spin-button,
.contacts__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contacts__input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.contacts__textarea {
  min-height: 144px;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.contacts__textarea::-webkit-scrollbar {
  width: 8px;
}

.contacts__textarea::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.contacts__textarea::-webkit-scrollbar-track {
  background: transparent;
}

.contacts__btn {
  max-width: 485px;
  width: 100%;
  font-weight: 700;
  text-align: center;
  align-self: end;
  padding: 18px 20px;
  border-radius: 20px;
  background-color: var(--accent-color);
  color: var(--white-color);
}

.contacts__box {
  padding-top: 320px;
  position: relative;
}

.contacts__box::before {
  content: "";
  position: absolute;
  display: block;
  width: 300px;
  height: 300px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../images/icons/email.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contacts__title {
  display: block;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}

.contacts__list-item {
  padding-left: 130px;
  position: relative;
}

.contacts__list-item:not(:last-child) {
  margin-bottom: 75px;
}

.contacts__list-item::before {
  content: "";
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;
  top: -16px;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contacts__list-item--whatsapp::before {
  background-image: url("../images/icons/whatsapp.svg");
}

.contacts__list-item--telegram::before {
  background-image: url("../images/icons/telegram.svg");
}

.contacts__link {
  font-size: 24px;
  font-weight: 700;
}

.footer {
  text-align: left;
  color: var(--white-color);
  background: linear-gradient(94deg, #c89afc 9.51%, #7c6afa 90.23%);
  overflow: hidden;
}

.footer-nav {
  display: flex;
  padding: 75px 0;
  gap: 75px;
  align-items: center;
}

.footer__logo {
  width: 300px;
  height: 300px;
}

.footer__logo img {
  width: 300px;
  height: 300px;
}

.footer-nav__links {
  margin-left: auto;
}

.footer-nav__title {
  font-size: 40px;
  margin-bottom: 15px;
}

.footer-nav__list-item:not(:last-child),
.footer-nav__item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-nav__item {
  display: flex;
  align-items: center;
  gap: 15px;
}

@media (hover: hover) {
  .link:hover::before {
    width: 100%;
  }

  .link:hover,
  .footer-nav__link.link:hover,
  .footer-nav__item-link.link:hover {
    box-shadow: none;
  }

  .logo:hover {
    opacity: 0.85;
    box-shadow: none;
  }

  .btn:hover {
    background-color: var(--white-color);
    color: var(--accent-color);
    box-shadow: 0 0 0 2px rgba(99, 71, 235, 0.7);
  }

  .contacts__input:hover::placeholder,
  .contacts__textarea:hover::placeholder {
    color: rgb(150, 161, 168, 1);
  }
}

.link:active::before {
  width: 0;
}

.footer-nav__link.link:active,
.footer-nav__item-link.link:active {
  box-shadow: none;
}

.btn:active {
  background-color: var(--white-color);
  text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
  color: var(--accent-color);
  transform: scale(0.9);
}

@media (max-width: 1300px) {
  .cooperation__list {
    gap: 50px 100px;
    padding: 0 30px;
  }

  .cooperation__item {
    margin-right: 0;
  }

  .cooperation__item:last-child {
    order: 1;
  }

  .cooperation__decor {
    display: none;
  }
}

@media (max-width: 1200px) {
  .menu__link {
    font-size: 20px;
  }

  .about__items,
  .about__list {
    gap: 15px;
  }

  .about__num {
    font-size: 64px;
  }

  .about__name {
    font-size: 32px;
  }

  .projects__link img {
    height: auto;
  }

  .contacts__inner {
    gap: 0;
  }

  .contacts__list-item {
    padding-left: 110px;
  }
}

@media (max-width: 992px) {
  .menu {
    padding: 30px 0;
  }

  .menu__list {
    display: none;
  }

  .hamburglar,
  .menu-burger {
    display: block;
  }

  .hero__title {
    font-size: 48px;
    margin-bottom: 25px;
  }

  .hero__text {
    font-size: 28px;
    margin-bottom: 75px;
  }

  .section {
    padding: 75px 0;
  }

  .title {
    font-size: 48px;
    margin-bottom: 25px;
  }

  .text {
    font-size: 24px;
    margin-bottom: 50px;
  }

  .about__items {
    grid-template-columns: repeat(2, 1fr);
  }

  .about__elem {
    padding-top: 110px;
  }

  .about__elem::before {
    width: 100px;
    height: 100px;
  }

  .about__num {
    font-size: 48px;
  }

  .about__name {
    font-size: 28px;
  }

  .projects__next-arrow.projects__btn,
  .projects__prev-arrow.projects__btn {
    display: none;
  }

  .contacts__inner {
    flex-direction: column;
  }

  .contacts__form,
  .contacts__input,
  .contacts__textarea,
  .contacts__btn {
    max-width: 100%;
  }

  .contacts__form {
    padding-left: 100px;
  }

  .contacts__item {
    padding-left: 0;
  }

  .contacts__item::before {
    left: -100px;
  }

  .contacts__item:not(:first-child)::after {
    left: -65px;
  }

  .contacts__box::before {
    display: none;
  }

  .contacts__box {
    padding-top: 50px;
  }

  .contacts__box .contacts__list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .contacts__list-item:not(:last-child) {
    margin-bottom: 0;
  }

  .team {
    padding-bottom: 75px;
  }

  .footer-nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 75px;
  }

  .footer-nav__inner {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .footer__logo,
  .footer__logo img {
    width: 200px;
    height: 200px;
  }

  .footer-nav__links {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .menu,
  .header.active .menu {
    padding: 15px 0;
  }
  .hero__title {
    font-size: 36px;
  }

  .hero__text {
    font-size: 24px;
    margin-bottom: 50px;
  }

  .hero__link {
    font-size: 24px;
  }

  .about__items {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }

  .about__name {
    font-size: 24px;
  }

  .section {
    padding: 50px 0;
  }

  .title {
    font-size: 36px;
    margin-bottom: 15px;
  }

  .text {
    font-size: 20px;
  }

  .contacts__label-text {
    font-size: 20px;
  }

  .contacts__input,
  .contacts__textarea {
    font-size: 20px;
    padding: 15px;
  }

  .contacts__title {
    font-size: 28px;
  }

  .text.contacts__subtitle {
    margin-bottom: 25px;
  }

  .team {
    padding-bottom: 100px;
  }

  .team__name {
    font-size: 24px;
  }

  .team__descr {
    font-size: 20px;
  }

  .footer-nav {
    padding: 50px 0;
    gap: 50px;
  }

  .footer-nav__title {
    font-size: 28px;
  }

  .contacts__item::before {
    top: 25px;
  }

  .contacts__list-item {
    padding-left: 85px;
  }

  .contacts__title {
    font-size: 24px;
  }

  .contacts__link {
    font-size: 20px;
  }

  .contacts__list-item::before {
    width: 75px;
    height: 75px;
    top: -5px;
  }

  .footer__logo,
  .footer__logo img {
    width: 100px;
    height: 100px;
  }

  .footer-nav__title {
    font-size: 24px;
  }

  .footer-nav__list,
  .footer-nav__items {
    font-size: 20px;
  }
}

@media (max-width: 680px) {
  .cooperation__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }

  .cooperation__title {
    font-size: 24px;
  }

  .cooperation__text {
    font-size: 20px;
  }

  .contacts__item::before,
  .contacts__item:not(:first-child)::after {
    display: none;
  }

  .contacts__form {
    padding-left: 0;
  }

  .contacts__list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-nav {
    justify-content: start;
  }

  .cooperation__item .cooperation__title::before {
    display: none;
  }
}

@media (max-width: 580px) {
  .about__list {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .about__item {
    min-height: auto;
  }

  .about__title {
    font-size: 22px;
  }

  .about__elem {
    padding-left: 110px;
    padding-top: 0;
    text-align: left;
  }

  .about__elem::before {
    width: 75px;
    height: 75px;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
  }

  .about__num {
    font-size: 36px;
    line-height: 1;
  }

  .about__name {
    font-size: 24px;
  }

  .cooperation__list {
    padding: 0;
    grid-template-columns: repeat(1, 1fr);
    gap: 35px;
  }

  .cooperation__item {
    text-align: left;
    align-items: start;
    padding-left: 100px;
  }

  .cooperation__title {
    font-size: 24px;
  }

  .cooperation__text {
    font-size: 20px;
    font-weight: 400;
    padding: 0;
  }

  .cooperation__text::before {
    left: -90px;
    top: -45px;
    transform: none;
    width: 75px;
    height: 75px;
  }

  .contacts__list-item {
    padding-left: 100px;
  }

  .contacts__list-item::before {
    top: -4px;
    left: 10px;
    width: 75px;
    height: 75px;
  }

  .title {
    font-size: 28px;
  }
}

@media (max-height: 580px) {
  .hero__title {
    font-size: 36px;
  }

  .hero__text {
    margin-bottom: 50px;
  }
}

@media (max-width: 480px) {
  .menu {
    padding: 15px 0;
  }

  .hero__title {
    font-size: 32px;
    margin-bottom: 15px;
  }

  .hero__text {
    font-size: 20px;
  }

  .footer-nav {
    gap: 25px;
  }
}

@media (max-height: 480px) {
  .hero__title {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .hero__text {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .hero__link {
    font-size: 20px;
    padding: 15px;
  }
}

@media (max-width: 390px) {
  .menu-burger__link {
    font-size: 24px;
  }
}

@media (max-height: 380px) {
  .hero__title {
    font-size: 20px;
  }

  .hero__text {
    margin-bottom: 15px;
  }
}

@media (max-width: 360px) {
  .cooperation__title {
    font-size: 24px;
  }

  .contacts__link {
    font-size: 20px;
  }

  .contacts__list-item::before {
    top: -4px;
  }
}
